@import '../variables.scss';

section.articles {
  padding: 3.5rem 0;
  background: $color-very-light-gray;

  * {
    font-family: 'Public Sans', sans-serif;
  }

  h2 {
    font-weight: 300;
    font-size: 2rem;
    color: $color-dark-blue;
    margin-bottom: 2rem;
  }

  .article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  article {
    flex-basis: calc(25% - 0.75rem);
    background: $color-white;
    border-radius: 5px;
    overflow: hidden;

    a {
      text-decoration: none;

      &:hover h4 {
        color: $color-bright-cyan;
      }
    }

    * {
      color: $color-grayish-blue;
    }

    img {
      max-width: 100%;
    }

    .text-container {
      margin: 1rem;

      address {
        font-size: 0.85rem;
      }

      h4 {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        font-weight: 300;
        color: $color-dark-blue;
        line-height: 1.5;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}

// media queries for responsiveness

@media only screen and (max-width: 1099px) and (min-width: 660px) {
  section.articles {
    article {
      flex-basis: calc(50% - 0.75rem);

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 2.5rem;
      }
    }
  }
}

@media only screen and (max-width: 659px) {
  section.articles {
    h2 {
      text-align: center;
    }

    .article-container {
      justify-content: center;
    }

    article {
      flex-basis: calc(100%);
      max-width: 450px;
      margin-bottom: 2.5rem;

      &:nth-child(4) {
        margin-bottom: 0;
      }
    }
  }
}
