@import '../variables.scss';

section.features {
  z-index: 5;
  background: $color-light-grayish-blue;
  padding-top: 5rem;
  padding-bottom: 4rem;

  * {
    font-family: 'Public Sans', sans-serif;
  }

  .text-container {
    max-width: 700px;
  }

  h2 {
    font-weight: 300;
    font-size: 2rem;
    color: $color-dark-blue;
    margin-bottom: 2rem;
  }

  p {
    color: $color-grayish-blue;
  }

  .features-container {
    margin-top: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .feature {
      flex-basis: calc(25% - 0.75rem);

      h3 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        color: $color-dark-blue;
        font-weight: 300;
        font-size: 1.075rem;
      }
    }

    .feature:last-of-type {
      margin-right: 0;
    }
  }
}

// media queries for responsiveness

@media only screen and (max-width: 1099px) and (min-width: 660px) {
  section.features {
    .features-container {
      .feature {
        flex-basis: calc(50% - 0.75rem);

        &:nth-child(1),
        &:nth-child(2) {
          margin-bottom: 2.5rem;
        }
      }
    }
  }

  // section.features {
  //   .feature {
  //     flex-basis: calc(50% - 0.75rem);

  //     &:nth-child(1),
  //     &:nth-child(2) {
  //       margin-bottom: 2.5rem;
  //     }
  //   }
  // }
}

@media only screen and (max-width: 659px) {
  section.features {
    .text-container {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;

      * {
        text-align: center;
      }
    }

    .features-container {
      justify-content: center;

      .feature {
        flex-basis: 100%;
        max-width: 450px;
        margin-bottom: 2.5rem;

        &:nth-child(4) {
          margin-bottom: 0;
        }

        * {
          text-align: center;
        }

        svg {
          display: inherit;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  // section.features {
  //   h2 {
  //     text-align: center;
  //   }

  //   .features-container {
  //     justify-content: center;
  //   }

  //   .feature {
  //     flex-basis: 100%;
  //     max-width: 450px;
  //     margin-bottom: 2.5rem;

  //     &:nth-child(4) {
  //       margin-bottom: 0;
  //     }
  //   }
  // }
}
