@import '../variables.scss';

footer {
  background: $color-dark-blue;
  padding: 3rem 0;

  .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    * {
      font-family: 'Public Sans', sans-serif;
      color: $color-light-grayish-blue;
      font-size: 0.9rem;
    }
  }

  .logo-sm-container {
    flex-basis: 25%;

    .sm-container {
      margin-top: 1.5rem;
    }

    a {
      display: inline-block;
      margin-right: 0.5rem;

      &:last-of-type {
        margin-right: 0;
      }
    }

    svg {
      fill: $color-white;

      &:hover {
        fill: $color-bright-cyan;
      }
    }
  }

  .nav-container {
    flex-basis: 50%;
    ul {
      column-count: 2;

      li {
        line-height: 2;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        color: $color-bright-cyan;
      }
    }
  }

  .cta-container {
    flex-basis: 25%;
    button {
      margin-bottom: 1.5rem;
    }

    p {
      font-weight: 300;
    }
  }
}

// media queries from resposiveness

@media only screen and (max-width: 1099px) and (min-width: 750px) {
  footer {
    .logo-sm-container {
      flex-basis: 30%;
    }

    .nav-container {
      flex-basis: 40%;
    }

    .cta-container {
      flex-basis: 30%;
    }
  }
}

@media only screen and (max-width: 749px) and (min-width: 660px) {
  .logo-sm-container,
  .nav-container,
  .cta-container {
    flex-basis: 33.333%;
  }

  .logo-sm-container {
    a {
      margin-bottom: 0.5rem;
    }
  }

  div.nav-container > ul {
    column-count: 1;
    text-align: center;
  }
}

@media only screen and (max-width: 659px) {
  footer {
    .inner-container {
      flex-direction: column;

      .nav-container ul {
        column-count: 1;
        text-align: center;
      }

      .cta-container {
        display: flex;
        flex-direction: column;
      }

      > * {
        margin-bottom: 2rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
