section.hero {
  background: #fafafa;
  position: relative;
  z-index: 1;
}

section.hero .text-container {
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.hero .text-container h1 {
  font-size: 2.6rem;
  font-family: 'Public Sans', sans-serif;
  line-height: 1.25;
  font-weight: 300;
  color: #2d314d;
}

section.hero .text-container p {
  margin: 1.5rem 0;
  font-family: 'Public Sans', sans-serif;
  color: #9698a6;
}

section.hero .text-container button {
  max-width: 150px;
}

section.hero svg.blobs {
  position: absolute;
  bottom: -80px;
  right: -400px;
  z-index: 1;
}

section.hero img.phones {
  position: absolute;
  right: -100px;
  top: 0;
  z-index: 4;
  max-height: 775px;
}

@media only screen and (max-width: 1215px) {
  section.hero svg.blobs {
    right: -500px;
  }
}

@media only screen and (max-width: 1115px) {
  section.hero svg.blobs {
    right: -600px;
  }
}

@media only screen and (max-width: 1015px) {
  section.hero svg.blobs {
    right: -700px;
  }
  section.hero img.phones {
    right: -200px;
  }
}

@media only screen and (max-width: 915px) {
  section.hero svg.blobs {
    right: -800px;
  }
  section.hero img.phones {
    right: -300px;
  }
}

@media only screen and (max-width: 865px) {
  section.hero svg.blobs {
    right: -850px;
  }
  section.hero img.phones {
    right: -200px;
    max-height: 600px;
    top: 175px;
  }
}

@media only screen and (min-width: 769px) {
  section.hero {
    min-height: 650px;
  }
  section.hero .text-container {
    height: 650px;
  }
  section.hero .img-container .blobs {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  section.hero .inner-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.hero .text-container {
    padding-bottom: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.hero .text-container * {
    text-align: center;
  }
  section.hero .img-container .blobs {
    width: 100vw;
  }
  section.hero svg.blobs {
    display: none;
  }
  section.hero img.phones {
    position: relative;
    max-height: none;
    max-width: 100%;
    margin-top: -50rem;
    right: 0;
    top: 0;
  }
}

@media only screen and (max-width: 700px) {
  section.hero img.phones {
    margin-top: -47rem;
  }
}

@media only screen and (max-width: 650px) {
  section.hero img.phones {
    margin-top: -44rem;
  }
}

@media only screen and (max-width: 600px) {
  section.hero img.phones {
    margin-top: -41rem;
  }
}

@media only screen and (max-width: 450px) {
  section.hero img.phones {
    margin-top: -32rem;
  }
}
/*# sourceMappingURL=hero.css.map */