@import '../variables.scss';

section.hero {
  background: $color-very-light-gray;
  position: relative;
  z-index: 1;

  .text-container {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 2.6rem;
      font-family: 'Public Sans', sans-serif;
      line-height: 1.25;
      font-weight: 300;
      color: $color-dark-blue;
    }

    p {
      margin: 1.5rem 0;
      font-family: 'Public Sans', sans-serif;
      color: $color-grayish-blue;
    }

    button {
      max-width: 150px;
    }
  }

  svg.blobs {
    position: absolute;
    bottom: -80px;
    right: -400px;
    z-index: 1;
  }

  img.phones {
    position: absolute;
    right: -100px;
    // top: -100px;
    top: 0;
    z-index: 4;
    max-height: 775px;
  }
}

// media queries for mobile responsiveness

@media only screen and (max-width: 1215px) {
  section.hero {
    svg.blobs {
      right: -500px;
    }
  }
}

@media only screen and (max-width: 1115px) {
  section.hero {
    svg.blobs {
      right: -600px;
    }
  }
}

@media only screen and (max-width: 1015px) {
  section.hero {
    svg.blobs {
      right: -700px;
    }

    img.phones {
      right: -200px;
    }
  }
}

@media only screen and (max-width: 915px) {
  section.hero {
    svg.blobs {
      right: -800px;
    }

    img.phones {
      right: -300px;
    }
  }
}

@media only screen and (max-width: 865px) {
  section.hero {
    svg.blobs {
      right: -850px;
    }

    img.phones {
      right: -200px;
      max-height: 600px;
      top: 175px;
    }
  }
}

@media only screen and (min-width: 769px) {
  section.hero {
    min-height: 650px;

    .text-container {
      height: 650px;
    }

    .img-container .blobs {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  section.hero {
    .inner-container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .text-container {
      // padding-top: 22rem;
      padding-bottom: 4rem;
      align-items: center;

      * {
        text-align: center;
      }
    }

    .img-container .blobs {
      width: 100vw;
    }

    svg.blobs {
      display: none;
    }

    img.phones {
      // display: none;
      position: relative;
      max-height: none;
      max-width: 100%;
      margin-top: -50rem;
      right: 0;
      top: 0;
    }
  }
}

@media only screen and (max-width: 700px) {
  section.hero {
    img.phones {
      margin-top: -47rem;
    }
  }
}

@media only screen and (max-width: 650px) {
  section.hero {
    img.phones {
      margin-top: -44rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  section.hero {
    img.phones {
      margin-top: -41rem;
    }
  }
}

@media only screen and (max-width: 450px) {
  section.hero {
    img.phones {
      margin-top: -32rem;
    }
  }
}
