@import '../variables.scss';

section.hero {
  min-height: 650px;
  background: $color-very-light-gray;
  position: relative;
  z-index: 1;

  .text-container {
    max-width: 450px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 2.6rem;
      font-family: 'Public Sans', sans-serif;
      line-height: 1.25;
      font-weight: 300;
      color: $color-dark-blue;
    }

    p {
      margin: 1.5rem 0;
      font-family: 'Public Sans', sans-serif;
      color: $color-grayish-blue;
    }

    button {
      max-width: 150px;
    }
  }

  svg.blobs {
    position: absolute;
    bottom: -80px;
    right: -400px;
    z-index: 1;
  }

  img.phones {
    position: absolute;
    right: -100px;
    // top: -100px;
    top: 0;
    z-index: 4;
    max-height: 775px;
  }
}
