////// colors

// neutral
$color-white: #fff;
$color-very-light-gray: #fafafa;
$color-grayish-blue: #9698a6;
$color-light-grayish-blue: #f3f4f6;

// primary
$color-dark-blue: #2d314d;
$color-lime-green: #31d35c;
$color-bright-cyan: #2bb7da;
